* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #111827;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.section {
  padding: 80px 10%;
  text-align: center;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.skillset {
  margin-top: 50px;
}

.skillset h3 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.skill {
  background: #1f2937;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.link-skill {
  text-decoration: none;
  color: white;
}

.link-skill:hover {
  background: #38bdf8;
  color: black;
  transform: translateY(-3px);
}

.projects-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.project-card {
  background: #1f2937;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111827;
}